@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f8fc;
  overflow: hidden;
}

/* Gmail-like scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}